body{
    background-color:rgb(16, 58, 136);

}
.CRUD{
    margin:auto;
    background-color: whitesmoke;
    border: 3px solid black;
    width: 900px;
    height: 600px;
    text-align: center;

    margin-top: 5em;
}

.form-title{
    font-family: Helvetica;
    padding-bottom: 2em;
}

.list-inputs{
   margin-top: -50px;
}
.regular-input{
    margin-bottom: 2em;
    width: 700px;
    text-align: center;
}

select{
    width: 720px;
    height: 33px;
    text-align-last: center;
    margin-bottom: 2em;

}

.crud-btns{
    margin-bottom:  1em;
    width: 360px;
    height: 33px;

}

.special{
    width: 720px;
    height: 33px;
    margin-bottom: 1em;
}


li{
    list-style-type: none;
}